################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/API_Desafio/FileContentIndex
/.vs/API_Desafio/FileContentIndex
