@model EditUserRequest

<form asp-action="EditUser" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Edit User</h1>
        <hr />
        <input asp-for="Id" hidden />

        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Firstname</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" asp-for="First" />
                        <span asp-validation-for="First" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Lastname</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" asp-for="Last" />
                        <span asp-validation-for="Last" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Username</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" asp-for="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">DocumentNumber</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" asp-for="DocumentNumber" />
                        <span asp-validation-for="DocumentNumber" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">DateOfBirth</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" rows="5" asp-for="DateOfBirth" type="date">
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Thumbnail</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input class="form-control" rows="5" asp-for="Thumbnail">
                    </div>

                    <div class="col-16">
                        <input type="submit" value="Edit" class="btn btn-success form-control" />
                    </div>
                </div>
            </div>
            <div class="col-2">
                <img src="@Model.Thumbnail" class="w-100" alt="The User Thumbnail" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_Notifications" />
}